#mainView{
    display: grid;
    max-height: 100vh;
    grid-template-rows: 8vh 16vh 76vh ;
}
nav{
    grid-row: 1/2;
}
.title{
    max-height: 100%;
    grid-row: 2/3;
}
.mainViewContent{
    max-height: 100%;
    grid-row: 3/4;
}
.mainImage{
    max-height: calc(100% - 2px);
}