@font-face {
    font-family: Marvel;
    src: url('../fonts/American\ Captain.ttf');
}
*{
    z-index: 0;
}
body{
    margin: 0;
    background-image: url('../images/indexBG.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Marvel;
}
#space{
    height: 8vh;
}
#mainView{
    display: grid;
    height: 100vh;
    grid-template-rows: 5vh 87vh ;
}
.bg-danger{
    background-color: red !important;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
    z-index: 1;
}
a{
    color: white im !important;
}
a:hover{
    color: rgb(218, 218, 218) !important;
}
a:visited{
    color: black !important;
}
.mainViewContent{
    max-height: 100%;
    grid-row: 2/3;
}
#retroButton{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 5vw;
    height: 5vw;
}
.col{
    margin: 0;
}
h1, h2{
    color: red;
}
.mainImage{
    box-sizing: border-box;
    max-height: 40vh;
    border: white solid 5px;
    box-sizing: border-box;
}