@font-face{
    src: url('../fonts/VTC_letterer_pro.ttf');
    font-family: ComicBook;
}
body{
    background-image: url('../images/marvelretrobg.png');
    background: cover;
    font-family: ComicBook;
}
h2{
    background-color: white;
    border: red solid 7px;
}
img{
    border-color: red !important;
}