#space{
    height: 8vh;
}
#mainView{
    display: grid;
    height: 100vh;
    grid-template-rows: 17vh 75vh ;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width:100vw;
}
a:link {
  color: green !important;
}
a:hover{
    color: rgb(110, 110, 110) !important;
}
a:visited{
    color:red !important;
}
.title{
    max-height: 100%;
    grid-row: 1/2;
}
.mainViewContent{
    max-height: 100%;
    grid-row: 2/3;
}
.mainImage{
    box-sizing: border-box;
    max-height: 100%;
}