@font-face {
    font-family: Venom;
    src: url('../fonts/GalagarFont.ttf');
}
*{
    z-index: 0;
}
body{
    margin: 0;
    background-image: url('../images/VenomBG.jpg');
    background-size: contain;
    color: white;
    text-align: center;
    font-family: Venom;
}
#space{
    height: 8vh;
}
#mainView{
    display: grid;
    height: 100vh;
    grid-template-rows: 17vh 75vh ;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
    z-index: 1;
}
a:hover{
    color: rgb(110, 110, 110) !important;
}
a:visited{
    color: rgb(0, 0, 110) !important;
}
#title{
    max-height: 100%;
    grid-row: 1/2;
}
.mainViewContent{
    max-height: 100%;
    grid-row: 2/3;
}
#retroButton{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 5vw;
    height: 5vw;
}
.col{
    margin: 0;
}
#mainImage{
    box-sizing: border-box;
    max-height: calc(100% - 8px);
    border: white solid 5px;
    box-sizing: border-box;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
iframe{
    border: white solid 5px;
    box-sizing: border-box;
}